<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080523727407-71tcvoaf1s6n6vvjfvp1g4vil0r7k027.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080523727407-71tcvoaf1s6n6vvjfvp1g4vil0r7k027</string>
	<key>API_KEY</key>
	<string>AIzaSyBihSvbJfiZvEos37K2v1jEQd5-5yA91Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>1080523727407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imagine.smoothie</string>
	<key>PROJECT_ID</key>
	<string>imaginesmoothie-62214</string>
	<key>STORAGE_BUCKET</key>
	<string>imaginesmoothie-62214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080523727407:ios:58b55b7853f558539e1cda</string>
</dict>
</plist>